body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f9f7f7;
  align-items: center;  
  justify-content: center;

}

.container {
  width: 360px;
  margin: 60px auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 95%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #43a047;
}

.result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #0e0d0d;
}

.statusBox {
  margin-top: 15px;
}

.statusBox img {
  width: 130px;
  margin-top: 10px;
}

.under {
  color: #e53935;
}

.normal {
  color: #2e7d32;
}

.over {
  color: #fb8c00;
}